@font-face {
  font-family: 'Petra Script';
  src: local('Petra Script EF Alternate');
  src: url('../fonts/petra_script_ef_alternate-webfont.woff2') format('woff2'),
       url('../fonts/petra_script_ef_alternate-webfont.woff') format('woff'),
       url('../fonts/petra_script_ef_alternate-webfont.eot') format('eot'),
       url('../fonts/petra_script_ef_alternate-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('../fonts/Montserrat-VariableFont_wght');
  src: url('../fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --primary-color: rgb(37, 115, 132);
    --secondary-color: rgb(142, 174, 194);
    --third-color: rgb(198, 227, 227);
  }
  
body {
    background: white;
    font-family: Montserrat;
    color: var(--primary-color);
    text-align: center;
    padding-top: 110px;
  }

  p {
    font-size: 20px;
    text-align: center;
    padding: 10px 100px 10px 100px;
    color: black;
    font-weight: 600;
  }

  p.text-bulletpoint {
    text-align: left;   
    margin: 0px;
    padding: 5px;
  }

h1 {
  margin-top: -140px;
  padding: 180px 0px 10px 0px;
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 800;
}

.h1-home {
  font-size: 30px;
}

.h1-angebot {
  font-size: 35px;
}

.header {
  background-image: url("https://www.datocms-assets.com/43182/1640855317-location-1-1.png?auto=format&dpr=1.5&fit=crop&h=750&w=1500");
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 300px;
  margin-bottom: -17px;
}

h2 {
  font-size: 45px;
  color: var(--primary-color);
  text-align: center;
  font-family: Petra Script;
  padding-bottom: 0px;
}

.h2-left {
  text-align: right;
  margin-right: 25px;
}

.h2-angebot {
  text-align: center;
  font-size: 45px;
  font-family: "Petra Script";
}

h3 {
  font-size: 45px;
  text-align: center;
  font-family: Petra Script;
}

nav {
    background: white;
    font-size: 17;
    width: 100;
    position: fixed;
  }

.nav-link {
    color: black !important;
    opacity: 90;
    font-weight: 800;
    }

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
    }

a.nav-link.active {
    border-bottom: 1.5px solid var(--primary-color); 
    }

.navbar-brand {
  width: 250px;
}



.p-center {
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
  font-weight: 600;
}

.column-text {
  text-align: left;
  margin-right: 25px;
  font-weight: 600;
}

.column-text-left {
  text-align: right;
  margin-right: 25px;
  font-weight: 600;

}
img.welcome-image {
  width: 100%;
}

div.background-farbig {
  background-color: var(--secondary-color);
  margin-top: 0px;
  padding: 50px;
}

.einführungstext {
  padding-left: 210px;
  padding-right: 210px;
  font-weight: 600;
}

.pfeil {
  margin: 0 auto;
  margin-top: -10px;
}

.angebots-illustration {
  margin-top: -55px;
}

.btn-light
{
  border: 2px solid var(--primary-color);
  float: center;
  margin-right: 100px;
  margin-left: 100px;
  font-family: Montserrat;
  font-weight: 600;
  opacity: 100;
}

.btn-light:hover
{
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
}
  
a {
  color: var(--primary-color);
  font-size: 17px;
  font-weight: 900;
  text-decoration: underline;
}

a:hover {
  color: black;
  font-size: 17px;
}

.portrait-bearbeitet {
margin: auto;
display: flex;
justify-content: left;
align-items: left;
}

.card {
border: none;
}

.network {
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  transition: all 50ms ease-in-out;
  margin: 0 auto;
}

.network:hover {
  color: var(--primary-color);
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

.footer-text {
text-align: left;
font-family: Montserrat;
font-weight: 600;
}

.kürzel-ende {
  font-family: Petra Script;

  font-size: 120px;
  text-align: right;
  font-weight: 100;
}

.container-partner {
  margin-top: 50px;
}

.partner {
  padding-left: 50px;
  padding-right: 50px;
}

.berufliche-station {
  text-align: left;
  color: white;
}

.assessment-card {
  padding-top: 150px;
}

  @media (max-width: 576px) {
    body {
      width: 100;
    } 

    img.navbar-brand {
      width: 45%;
    }

    a.nav-link.active {
      border-bottom: none
      }

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 35px;
      text-align: center;
    }


    img.welcome-image {
      width: 100%;
    }

    img.angebots-illustration {
      width: 250px;
      margin-top: -40px;
    }

    .einführungstext {
      padding: 0px;
    }

    div.card-body {
      margin-left: 30px;
      margin-right: 30px;
    }

    .card {
      margin-bottom: 20px;
    }

    p, .btn-light, .btn-light-reverse, a {
      font-size: 16px;
    }

    p.kürzel-ende {
      font-size: 60px;
    }

    p.footer-text {
      font-size: 16px;
    }

    .network {
      font-size: 22px;
    }

    img.portrait-bearbeitet {
      margin: 0 auto;
      width: 60%;
      margin-top: 35px;
    }

    .column-text-left {
      text-align: center;
    }

    .partner {
      padding-left: 150px;
      padding-right: 150px;
      width: 50%;
    }

    .haken {
      margin: 0 auto; 
    }

    .berufliche-station {
      padding-left: 35px;
    }

  }

  @media (max-width: 420px) {
    
    h1 {
      font-size: 22px;
      padding-bottom: 0px;
    }

    h2 {
      font-size: 30px;
      padding-bottom: 0px;
    }

    .einführungstext {
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;

    }

    .btn.btn-light {
      margin: 0 auto;
      font-size: 14px;
    }

    div.card-body {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    img.card-img-top {
      width: 500;
      margin: 0 auto;
      padding: 0;
    }
  
    p, p.footer-text, a {
      font-size: 16px;
    }

    img.angebots-illustration {
      width: 200px;
      margin-top: -30px;
    }

    .partner {
      padding-left: 50px;
      padding-right: 50px;
      width: 50%;
    }
  }

  @media (min-width: 576px) {

    .einführungstext {
        padding: 0px;
        margin-left: 50px;
        margin-right: 50px;
      }
  
    .column-text-left {
      text-align: center;
    }

    p.footer-text {
      font-size: 13px;
    }

    .kürzel-ende {
      font-size: 40px;
    }

    .network {
      font-size: 18px;
    }

    .portrait-bearbeitet {
      margin-top: 40px;
    }

    .partner {
      margin: 0;
      padding: 0;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 18px;
    }

    h2.column-text-left {
      font-size: 28px;
    }

    .column-text-left {
      text-align: left;
    }

    p.footer-text {
      font-size: 15px;
    }

    .btn {
      margin: 0 auto;
    }

    .partner {
      padding-left: 50px;
      padding-right: 50px;
    }

  }
  
  @media (min-width: 992px) {
    h2.column-text-left {
      font-size: 38px;
    }     

    p.footer-text {
      font-size: 18px;
    }

    .network {
      font-size: 25px;
    }

    .kürzel-ende {
      font-size: 65 px;
    }

  }
  